.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.titulo-desarrollo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #444;
}
